body{
    background-color: black;
    color: white;
}

nav{

    padding: 5px;

    border-top   : 1px solid white;
    border-bottom: 1px solid white;

    a {
        padding: 5px 10px;
        margin   : 0 10px;
        font-size: 1.25em;

        border-left: 1px solid rgb(200,200,200);
        border-right: 1px solid rgb(200,200,200);

        color: lightblue;
    }

    a:visited{
        color: lightblue;
    }
}
